@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
body{
  background-image: url(./assets/img/sfondo.webp) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center!important;
  height: 100vh !important;
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Merriweather',serif !important;
  font-weight: 300 !important;
  color: #050202 !important;
  font-size: 14px !important;
  line-height: 1.6 !important;
} 


